metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "sqlite"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3901"
rpc_secret = "7a98679349234de0619ac012a80a566f8334b13f2361c8cbbb09a46c50eda8e0"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

[s3_web]
bind_addr = "[::]:3902"
root_domain = "localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "piHXbIlodtlo5svIm7fyXAx8Pg9xYAYDH2j5lb23Fyw="
metrics_token = "0Q3FtTOH6SE35XOpEx6Q5Mk7N0qwVmIng22sTZ3MBPo="
